@model List<ContactosModel>

@if (Model == null || !Model.Any())
{
    <p>No hay Contactos para mostrar.</p>
}
else
{
    <h2 class="text-center">Consulta de Contactos</h2>
    <a class="btn btn-success " asp-area="" asp-controller="Contactos" asp-action="CrearContactos">
        <i class="bi bi-plus-circle"></i> Crear Contactos
    </a>
    <table class="table">
        <thead>
            <tr>
                <th>telefono</th>
                <th>correo_electronico</th>
                <th>Facebook link</th>
                 <th>Twitter link</th>
                <th>Instagram link</th>
                <th></th>


            </tr>
        </thead>
        <tbody>
            @foreach (var Contactos in Model)
            {
                <tr>
                    <td class="w-10">@Contactos.telefono</td>
                    <td>@Contactos.correo_electronico</td>
                    <td>
                        @Contactos.redes_sociales.facebook
                    </td>
                    <td>
                        @Contactos.redes_sociales.twitter
                    </td>
                    <td>
                        @Contactos.redes_sociales.instagram
                    </td>
                    <td>

                        <a class="btn btn-warning" asp-area="" asp-controller="Contactos" asp-route-id="@Contactos._id" asp-action="VerContactos">
                            <i class="bi bi-pencil-square"></i> Editar
                        </a>

                        <form asp-controller="Contactos" asp-action="EliminarContactos" method="post" style="display:inline;">
                            <input type="hidden" name="id" value="@Contactos._id" />
                            <button type="submit" class="btn btn-danger" onclick="return confirm('¿Seguro que quieres eliminar este Contacto?');">
                                <i class="bi bi-trash"></i> Eliminar
                            </button>
                        </form>

                    </td>
                </tr>
            }
        </tbody>
    </table>
}
