@model List<LocalesModel>

@if (Model == null || !Model.Any())
{
    <p>No hay Ejercicios para mostrar.</p>
}
else
{
    <h2 class="text-center mb-4">Consultar Locales</h2>
    <a class="btn btn-success mb-3" asp-area="" asp-controller="Locales" asp-action="CrearLocal">Crear Local</a>

    <div class="row">
        @foreach (var LocalesModel in Model)
        {
            <div class="col-md-6 mb-3">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">@LocalesModel.nombre</h5>
                        <h6 class="card-subtitle mb-2 text-muted">@LocalesModel.categoria</h6>
                        <p class="card-text">@LocalesModel.descripcion</p>

                        <div class="btn-group" role="group" aria-label="Acciones sobre el Local">
                            <a class="btn btn-outline-primary" asp-area="" asp-controller="Resenas" asp-route-id="@LocalesModel._id" asp-action="VerResenasPorLocal">Ver Reseñas</a>
                            <a class="btn btn-outline-success" asp-controller="Resenas" asp-action="CrearResena" asp-route-id="@LocalesModel._id">Crear Reseña</a>

                            <a class="btn btn-outline-primary" asp-area="" asp-controller="Resenas" asp-route-id="@LocalesModel._id" asp-action="VerResenasPorLocal">Ver Reservas</a>
                            <a class="btn btn-outline-success" asp-controller="Resenas" asp-action="CrearResena" asp-route-id="@LocalesModel._id">Crear Reserva</a>
                        </div>

                        <div class="d-flex mt-3">
                            <a class="btn btn-warning btn-sm" asp-area="" asp-controller="Locales" asp-route-id="@LocalesModel._id" asp-action="VerLocal">Editar Local</a>

                            <form asp-controller="Locales" asp-action="EliminarLocal" method="post" style="display:inline;">
                                <input type="hidden" name="id" value="@LocalesModel._id" />
                                <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('¿Seguro que quieres eliminar este Local?');">Eliminar Local</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}