@model List<CategoriasModel>

@if (Model == null || !Model.Any())
{
    <p>No hay categorias para mostrar.</p>
}
else
{
    <h2 class="text-center">Consulta de categorias</h2>
    <a class="btn btn-success " asp-area="" asp-controller="Categorias" asp-action="CrearCategoria"> Crear categoria</a>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Ejemplos</th>
                <th></th>


            </tr>
        </thead>
        <tbody>
            @foreach (var Categorias in Model)
            {
                <tr>
                    <td>@Categorias.Nombre</td>
                    <td>@Categorias.Descripcion</td>
                    <td>
                        @for(int i = 0; i < Categorias.Ejemplos.Count; i++){
                            <p>@Categorias.Ejemplos[i]</p>
                        }
                    </td>
                    <td>

                        <a class="btn btn-success " asp-area="" asp-controller="Categorias" asp-route-id="@Categorias._id" asp-action="VerCategoria"> Editar Categoria</a>
                        <form asp-controller="Categorias" asp-action="EliminarCategoria" method="post" style="display:inline;">
                            <input type="hidden" name="id" value="@Categorias._id" />
                            <button type="submit" class="btn btn-warning" onclick="return confirm('¿Seguro que quieres eliminar este categoria?');">Eliminar categoria</button>
                        </form>

                    </td>

                    

                </tr>
            }
        </tbody>
    </table>
}
